= render 'layouts/header'
#main
  .container
    .row
      .col-sm-12 
        .TopView
          .slide
            %span= image_tag @tweet.image.url
            %ul.slide_list
              %li
                = link_to '削除', tweet_path(@tweet.id), method: :delete