.wrapper{
  margin: 0;
  padding: 0;
  display: block;
}

.MainVisual{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 60px;
  height: 560px;
  background-image: image-url('pict/top-view.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}