-# footter
#footer.clearfix
  .footer__contents
    #footer__search
      %label{for: "footer__search-area"} Search Box：
      %input#footer__search-area.SearchBox{maxlength: "30",placeholder: "Search text", type: "text"}/
    %br
    %p Copyright　Tech Decore 2021.