-# header
#header
  %h1 Tech Decore
  #navigation
    .mainBlock
      %ul#menu.main
        %li
          -# = link_to 'Post', tweet_path(@tweet.id), method: :post, class:"float-right"
          = link_to "#" do 
            Post
        %li
          = link_to "#" do 
            Log out
        %li.last
          -# = link_to 'Create Account', edit_item_path(@item.id), method: :post, class:"float-right"
          = link_to "#" do 
            Create Account
        %li
          = current_user.name